* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #222222;
}

a {
    text-decoration: none;
}

.center {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header {}

.header-menu-wrp {
    background: #222222;
    height: 75px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-left {
    max-width: 111px;
    width: 100%;
    height: 38px;
    margin-top: 18px;
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
}

.header-left-img-btn {}

.search-btn-img {
    fill: #E8E8E8;
}

#search-btn {
    display: none;
}

.header-right {
    max-width: 159px;
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 20px;
    gap: 33px;
}

.hamburger-menu-btn {
    fill: #E8E8E8;
}

.account-btn {
    fill: #E8E8E8;
}

.cart-btn-link {
    fill: #E8E8E8;
}

.header-promo-wrp {
    background: #F1E4E6;
    margin-bottom: 65px;
}

.header-promo {
    display: flex;
    gap: 63px;
    max-width: 1600px;
}

.header-promo-img {
    width: 800px;
    height: 764px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: url(../img/header_img.png);
    background-size: cover;
    background-position: center;
}

.header-promo-title {
    max-width: 405px;
    width: 100%;
    height: 93px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 290px;
}



.header-promo-title-main {
    font-size: 48px;
    line-height: 58px;
    margin: 0;
}

.header-promo-title-subtitle {
    font-size: 32px;
    line-height: 38px;
}

#fashion {
    color: #F16D7F;
}

/* -----end header-------- */
/* -------top content ------- */

.content-wrp {}

.top-content {
    margin-bottom: 96px;
}

.top-content-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}



.top-content-list-item-big {
    min-height: 180px;
    grid-column: 1 / -1;
}

.top-content-item-link {
    display: flex;
    flex-direction: column;
    min-height: 260px;
    justify-content: center;
    align-items: center;
}

.top-content-item-link-big {
    display: block;
    min-height: 180px;
    background-image: url(../img/accesuary.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}


.top-content-item-img1 {
    background-image: url(../img/woman.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.top-content-item-img2 {
    background-image: url(../img/man.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.top-content-item-img3 {
    background-image: url(../img/kid.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.top-content-item-txt {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.top-content-item-title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

/* -------end top content----- */
/* -------bottom content------ */

.bottom-content {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.bottom-content-title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 6px;
}

.bottom-content-txt {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}

.bottom-content-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(360px, 360px));
    gap: 30px;
    margin-bottom: 58px;
    justify-content: center;
}

.bottom-content-list-item {
    min-height: 581px;
    background: #F8F8F8;
}

.bottom-content-list-img-link {
    margin-bottom: 23px;
}

.bottom-content-item-info {
    padding: 24px 20px 28px 16px;
}

.bottom-content-item-title {
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #000000;
}

.bottom-content-item-txt {
    max-width: 314px;
    width: 100%;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #5D5D5D;
}

.bottom-content-item-price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    font-weight: 400;
}

.bottom-content-btn-wrp {
    display: flex;
    justify-content: center;
}

.bottom-content-btn {
    display: block;
    border: 1px solid #F16D7F;
    background: none;
    max-width: 212px;
    width: 100%;
    height: 48px;
    color: #F16D7F;
}

.bottom-content-btn:hover {
    background-color: #F16D7F;
    color: white;
}

.bottom-content-btn:active {
    background-color: #E8E8E8;
    color: #F16D7F;
}

@media (min-width:768px) and (max-width:1024px) {

    .center {
        max-width: 736px;
    }

    .header-left {
        margin: 18px 0 18px 32px;
    }

    .header-right {
        margin: 18px 32px 18px 0;
    }

    .header-promo {
        gap: 39px;
        justify-content: space-between;
    }

    .header-promo-img {
        width: 386px;
        height: 368px;
    }

    .header-promo-title {
        margin-top: 138px;
        max-width: 311px;
    }

    .header-promo-title-main {
        font-size: 44px;
        line-height: 53px;
    }

    .header-promo-title-subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .top-content-list {
        gap: 19px;
        grid-template-columns: repeat(3, 232px);
    }

    .top-content-list-item-big {
        max-width: 736px;
    }

    .top-content-item-link {
        min-height: 168px;
    }

    .bottom-content-list {
        gap: 16px;
        grid-template-columns: repeat(2, 360px);
    }
}

@media (min-width: 320px) and (max-width:767px) {

    .center {
        max-width: 343px;
        width: 100%;
        margin: 0 auto;
    }

    .account-btn,
    .cart-btn-link {
        display: none;
    }

    .header-right {
        justify-content: right;
    }

    .header-promo-img {
        display: none;
    }

    .header-promo {
        width: 100%;
    }

    .header-promo-title {
        max-width: 263px;
        margin: 149px auto;
    }

    .header-promo-title-main {
        font-size: 38px;
        line-height: 46px;
    }

    .header-promo-title-subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .top-content {
        margin-bottom: 64px;
    }

    .top-content-list {
        gap: 32px;
        grid-template-columns: repeat(1, minmax(320px, 100%));
    }

    .top-content-item-img1 {
        min-height: 247px;
    }

    .top-content-item-img2 {
        min-height: 249px;
    }

    .top-content-item-img3 {
        min-height: 248px;
    }

    .top-content-item-link-big {
        min-height: 111px;
    }

    .top-content-list-item-big {

        min-height: 111px;
    }

    .bottom-content {
        margin: 0 auto;
    }

    .bottom-content-list-img-link img {
        width: 100%;
    }

    .bottom-content-txt {
        margin-bottom: 65px;
    }

    .bottom-content-list {
        grid-template-columns: repeat(1, minmax(320px, 360px));
        margin-bottom: 40.61px;
    }

    .bottom-content-btn-wrp {
        margin-bottom: 85px;
    }

}